[submodule "Car-rental-app-with-AB-testing-and-personalisation"]
	path = Car-rental-app-with-AB-testing-and-personalisation
	url = https://github.com/PapaReact/Car-rental-app-with-AB-testing-and-personalisation.git
